<!DOCTYPE html>
<html>
  <head>
    <title>Tirth Patel - Home</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/"> Home </a>| <a href="/list"> List </a>| <a href="/table"> Table </a>| <a href="/audio"> Audio </a>| <a href="/video"> Video </a>| <a href="/storefront"> Storefront </a>
      </nav>
      <h1>Welcome to my website</h1>
    <p>I will be demonstrating HTML5 principles and techniques, Routing in Express, and more.</p>
      </header>
      <section id="home-section">
        <h2>Reflective Paragraph</h2>
        <p>
          I have had a great learning experience so far with the course. I have gained valuable knowledge and skills in web development and have been able to apply them to real-world projects. The course content is comprehensive, and the hands-on exercises have helped me solidify my understanding of the concepts.
        </p>
      </section>
      <section>
        <h2>About HTML5</h2>
        <p>
          This site utilizes HTML5, which is a markup language used for structuring and presenting content on the World Wide Web. HTML5 provides enhanced features and capabilities, such as semantic markup, audio and video support, canvas for graphics, and more. It is the latest version of HTML and is widely supported by modern web browsers.
        </p>
      </section>
  </body>
 </html>
 
 
 