<!DOCTYPE html>
<html>
  <head>
    <title>Tirth Patel - Table</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/"> Home </a>| <a href="/list"> List </a>| <a href="/table"> Table </a>| <a href="/audio"> Audio </a>| <a href="/video"> Video </a>| <a href="/storefront"> Storefront </a>
      </nav>
      <h1>Welcome to the Table Page</h1>
      <p>Explore the tables with your favorite books and movies.</p>
      </header>
    <div>
    <h1>
      <u> TABLE SECTION </u>
    </h1>
    <section id="table-section">
      <h2>Favorite Books</h2>
      <table>
        <caption>List of Favorite Books</caption>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The Mahabharat</td>
            <td>Vyasa</td>
            <td>Itihasa</td>
          </tr>
          <tr>
            <td>The Ramayan</td>
            <td>Valmiki</td>
            <td>Itihasa</td>
          </tr>
          <tr>
            <td>1984</td>
            <td>George Orwell</td>
            <td>Dystopian</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h2>Favorite Movies</h2>
      <table>
        <caption>List of Favorite Movies</caption>
        <thead>
          <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Genre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The Shawshank Redemption</td>
            <td>Frank Darabont</td>
            <td>Drama</td>
          </tr>
          <tr>
            <td>Inception</td>
            <td>Christopher Nolan</td>
            <td>Sci-Fi</td>
          </tr>
          <tr>
            <td>Pulp Fiction</td>
            <td>Quentin Tarantino</td>
            <td>Crime</td>
          </tr>
        </tbody>
      </table>
      <p>
        The tables above showcase some of my favorite books and movies. They include information such as the title,
        author/director, and genre. These works have had a significant impact on me and are highly recommended for
        others to enjoy.
      </p>
    </section>
    <p>This section has two tables displaying some of my favourite books and films.. The first table includes movie titles, directors, and genres, while the second table includes book titles, authors, and genres.</p>
    </div>  
  </body>
</html>


